.covid-report {
  .world-wide-text {
    font-size: 22px;
  }
  .card-body {
    padding: 10px;
    .gbjtWJ {
      display: none;
    }
    .jvsKvH {
      div {
        font-size: 20px;
      }
    }
    .gQHdOi div:first-child {
      font-size: 17px;
    }
    .total-text {
      font-size: 17px;
      font-weight: bold;
    }
  }
}
